@model GerenciadorUsuarios.Usuario

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Menu", FormMethod.Post, new { id = "formEdit" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 class="align-center">Editar Usuario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idUsuario)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-2">Permissão</label>  
            <select class="col-md-10 form-control" name="selpermissao" style="width: 77.5%; float: right; margin-right: 14px;">
                @{ 
                    foreach (var direito in Model.Direitos)
                    {
                        if (@direito.Nome.Equals("user"))
                        {
                            <option value="user">@direito.Nome</option>
                            <option value="admin">admin</option>
                        }
                        else
                        {
                            <option value="user">user</option>
                            <option value="admin">@direito.Nome</option>
                        }

                    }
                }
            </select>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index", "Menu", new { @class = "btn btn-default btn-voltar" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
